# Ignore Unity-generated folders
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore VS/JetBrains IDE stuff
.vscode/
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.suo
*.userprefs
*.booproj
*.svd
